:root {
    --primary-1: #000000;
    --primary-2: #ffffff;
    --primary-3: #D9D9D9;
    ;

    --primary-4: #;
    --linear-gradient: linear-gradient(20deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #9400d3);
}